[Unit]
Description=Guide Node App
After=network.target

[Service]
WorkingDirectory=/opt/guide

ExecStart=/usr/bin/npm run start

Restart=always
RestartSec=3

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
